/*************************
Components
*************************/
.body-desktop {
  font-size: var(--fs-400);
  line-height: 2.125rem; /* 36px */
}

.body-mobile {
  font-size: var(--fs-200);
  line-height: 1.625rem;
}

.card {
  padding-inline: 3.375rem;
  padding-bottom: 3rem;
  padding-top: 3.625rem;
}

.button {
  border: none;
  cursor: pointer;
  padding-block: 1rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/*************************
Design System
*************************/
.color-swatches {
  justify-content: space-between;
}
