/*************************
Utlilites
*************************/

/*************************
Colors
*************************/
.bg-ios-accent {
  background-color: hsl(var(--color-ios-accent));
}

.bg-android-accent {
  background-color: hsl(var(--color-android-accent));
}

.bg-equal-accent {
  background-color: hsl(var(--color-equal-accent));
}

.bg-white {
  background-color: hsl(var(--color-white));
}

.bg-black {
  background-color: hsl(var(--color-black));
}

.fc-white {
  color: hsl(var(--color-white));
}

.fc-black {
  color: hsl(var(--color-black));
}

.fc-gray {
  color: hsl(var(--color-black) / 0.5);
}

/*************************
Typography
*************************/
.ff-sans-serif {
  font-family: var(--ff-sans-serif);
}

.h1,
.h2 {
  font-weight: var(--fw-bold);
}

.h1 {
  font-size: var(--fs-700);
  line-height: var(--fs-700);
  letter-spacing: -1px;
}

.h2 {
  font-size: var(--fs-600);
  line-height: 52px;
}

/*************************
Layout
*************************/
.container {
  padding-inline: 2rem;
  max-width: 1110px;
  margin-left: auto;
  margin-right: auto;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-col {
  display: flex;
  flex-direction: column;
  gap: var(--gap, 1rem);
}

.flex-wrap {
  flex-wrap: wrap;
}

.basis-50 {
  flex-basis: 50%;
}

.new-flow-scope > * {
  --flow-space: 1rem;
}

.flow > * + * {
  margin-top: var(--flow-space, 1rem);
}

/*************************
Design System
*************************/
.color-swatch {
  flex-basis: 33%;
}

.color-swatch div {
  height: 75px;
  padding: 1rem;
  border-radius: 10px;
}

.mr-4\.5 {
  margin-right: 4.5rem;
}

.border {
  border: 1px solid hsl(var(--color-black));
}
